<mat-card class="add-payment-panel mat-elevation-z2">
  <div class="form-container">
    <mat-form-field class="add-payment-input">
      <mat-label>{{paymentTextKeys.PAYMENT_NAME}}</mat-label>

      <input matInput [formControl]="paymentName">

      <mat-error *ngIf="paymentName?.hasError('required')">{{paymentTextKeys.REQUIRED_ERROR}}</mat-error>
    </mat-form-field>

    <mat-form-field class="add-payment-input">
      <mat-label>{{paymentTextKeys.DAILY_COST}}</mat-label>

      <input matInput appNumberInputDirective [formControl]="paymentCost">

      <mat-error *ngIf="paymentCost?.hasError('required')">{{paymentTextKeys.REQUIRED_ERROR}}</mat-error>
      <mat-error *ngIf="paymentCost?.hasError('min')">{{paymentTextKeys.GRATER_THAN_ZERO_ERROR}}</mat-error>
    </mat-form-field>
  </div>

  <button mat-button [disabled]="paymentForm.invalid" (click)="createPayment()">{{paymentTextKeys.CREATE}}</button>
</mat-card>
